
#article-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#article-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#article-subtitle {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}

.article-content {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#article-image{
    right:50%;
    width:400px
}